/* @import 'tailwindcss'; */
/* @import "../../vendor/filament/filament/resources/css/base.css"; */
@import '../../vendor/filament/filament/resources/css/theme.css';

@import './widgets.css';
@import './forms.css';
@import './tree.css';
@import './layout.css';

@import './components/alert.css';
@import './components/code-editor.css';

@import '../../vendor/solution-forest/inspirecms-support/resources/css/diff-viewer.css';

@source "../../src/Filament/**/*.php";
@source "../views/**/*.blade.php";
@source "../../vendor/filament/**/*.{blade,js}";

/* Media Library */
.fi-body:has(.top-alert) {
    .fi-page :not(.media-library-browser-modal) .media-library__header {
        @apply top-24!;
    }
}

/* Content Sidebar */
.content-sidebar_desktop {
    z-index: 1;
}

/* Content History */
.content-history .publish-time-badge {
    @apply bg-custom-50 dark:bg-custom-400/10 ring-1 ring-custom-600 ring-custom-600/10;
    @apply rounded-md px-2 py-1;
    @apply text-xs font-medium;
    @apply flex items-center justify-center gap-1;
}
.version-diff .version-diff-item {
    @apply text-sm;
}
.version-diff .version-diff-item .version-diff-item-title .version-diff .version-diff-item .diff-viewer {
    font-family: 'Courier New', monospace;
}
.version-diff .version-diff-item > div {
    @apply p-3;
}

/* Top Alert */
.fi-body .top-alert.alert-dialog {
    @apply sticky top-0 z-20;

    ~ .fi-layout .fi-topbar, ~ .fi-simple-layout > .absolute {
        @apply top-10!;
    }

    ~ .fi-layout .content-sidebar .icon-btn, ~ .fi-layout .content-sidebar .content-sidebar_desktop {
        @apply top-26!;
    }
}

/* Actions */
/* Header actions on page */
.fi-main .fi-header > div:nth-child(2) {
    @apply flex-row-reverse;
}
/* Modals footer actions */
.fi-modal-footer-actions {
    @apply flex flex-row-reverse flex-wrap items-center;
}
/* Table actions */
.fi-ta-content-grid .fi-ta-actions {
    @apply justify-end;
}

/* Navigation */
.fi-page-sub-navigation-sidebar-ctn {
    width: 13rem !important;
}

/* Icon */
.fi-icon > svg.custom-icon {
    stroke: currentColor;
}